#board {
  border-collapse: separate;
  border-spacing: 2px;
  margin: 1em auto ;
}

#board td {
  border: 4px groove;
  padding: 1px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
}

#board td img {
  width: 100%;
}

#controls .preview {
  max-height: 80px;
}

#controls .right {
  float: right;
}

#controls .right + .right {
  float: right;
  margin-right: 1em;
}

.template {
  display: none;
}
